
.aside .logo span,
.home .container .intro span,
.about .about-content span,
.about-content .person-info .info-item a,
.services .services-item .services-item-inner h4,
.my-skills .skill h2{
    color: var(--green-color);
}
.home .intro .social-link a,
.about-content .btn,
.about-content .timeline .circle-dot,
.about-content .timeline .timeline-item::before,
.section-title h2::before,
.services .services-item .services-item-inner .icon,
.skill-per{
    background-color: var(--green-color);
}
.aside .nav li a:hover,
.section-title h2::after,
.portfolio .portfolio-filter button:hover,
.aside .nav li a:not(.active):hover{
    color: var(--green-color);
}


