.style-switcher{
    position: fixed;
    right: -5px;
    top: 5px;
    padding: 15px;
    width: 200px;
    z-index: 901;
    background-color: #ffffff;
    border: 1px solid #d4d4e3;
    border-right: none;
    transition: all 0.3s ease;
    border-radius: 10px;
    transform: translateX(100%);
}
.style-switcher.open{
    transform: translateX(-15px);

}

.style-switcher h5{
    font-size: 1.3rem;
    color: #302e4d;
    margin: 0 0 15px;
    color: var(--light-heading);
    font-weight: 700;
    text-transform: capitalize;
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 2.5rem;
    color: var(--light-heading);
    right: 100%;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 999;
}
.style-switcher .s-icon i{
    line-height: 40px;
}
.style-switcher .style-switcher-toggler{
    top: 0;
}
.style-switcher .day-night{
    top: 55px;
}
.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.style-switcher .red{
    background-color: var(--red-color);

}
.style-switcher .yelow{
    background-color: var(--yelow-color);

}
.style-switcher .blue{
    background-color: var(--blue-color);

}
.style-switcher .green{
    background-color: var(--green-color);

}
.style-switcher .pink{
    background-color: var(--pink-color);

}




